ORIGIN=*
RUST_LOG=tower_http=debug,info
JWT_SECRET=rust_time_communication_hub
JWT_SSE_USER_SECRET=buh_noitacinummoc_emit_tsur
CLIENT_ID=rust_time_communication_hub
CLIENT_SECRET=rust_time_communication_hub
# DATABASE_URL=sqlite:rust_time_communication_hub.db
# DATABASE_URL="postgres://postgres:password@localhost/rust_time_communication_hub"
# DATABASE_URL="mysql://user:pass@localhost:3306/rust_time_communication_hub"